

  .toggle- {
    position: relative;
    width: 50px;

    display: inline-block;
    text-align: left;
    top: 8px;
  }
  .checkbox {
    display: none;
  }
  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
  }
  .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .inner:before{
    float: right;
    width: 40%;
    height: 14px;
    padding: 10px;
    line-height: 36px;
    color:red;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner:after {
    float: left;
    width: 40%;
    height: 14px;
    padding: 10px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner:before {
    content: "";
    padding-left: 10px;
    background-color: red;
    color: #fff;
    text-align:left;
  }
  .inner:after {
    content: "";
    padding-right: 10px;
    background-color:#BEBFC1;
    color: #fff;
    text-align: right;
  }
  /* . {
    display: block;
    width: 18px;
    height: 20px;
   
    background:#BEBFC1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  } */
  /* .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  .checkbox:checked + .label . {
    right: 0px;
  } */