
body {background-color:black;
  padding: 0%;
  margin: 0%;


}

/* .main-container{
  width: 100%;
height: auto;;
background-color: #000000;

} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.edit-field{
  display: flex;
  flex-direction: column;

}
.popup-edit-field{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;


}
.edit-field-button{
  display: flex;

}
.ex{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.exm{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App-link {
  color: #61dafb;

}
.logo{
 width: 500px;
  height: 180px;

}
.save{
  width: 35px;
  height: 35px;
  color: #C0392B;
  border: 3px solid #C0392B;
  border-radius: 50%;
  background-color: #020202;
}


.main-body{
  background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
  background-size: cover;
  font-family: Montserrat;

  display: flex;
  justify-content: center;
}
.style-buttom{
  background-color: #06D85F;
}




.button{
  


  
   width: 160px;
  height: 60px; 
   margin: 20px;
  background: #020202;
  border: 3px solid #FF0000;
  border-radius: 85px;
color:red;
padding: 15px;
padding-left:20px ;
padding-right: 20px;

  box-shadow: 0px 2px 2px rgba(251, 132, 16, 0.2);
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 22px;

 
}
@media screen and (max-width: 579px) {
  .button {
    width: 132px;
    height: 40px;
    
    margin: 20px;
    
    
    font-weight: 650;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen and (max-width: 360px) {
  .button {
    width: 100px;
    height: 30px;
    
    
    
    
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 250px) {
  .button {
    width: 70px;
    height: 20px;
    
    
    
    
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #FF0000;
  }
}



.popupform{
  width:400px ;
  height:100px;
  background-color:black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}
.setting-text-field{
  display: flex;
  justify-content: center;
  align-items: center;
}
.reactive-field-contant{
  display: flex;
  margin-left: 80px;
}


/* .popup-Cancel-Button{
  width: 268px;
  height: 45px;
  
  background: #0C0C0C;
  border: 1px solid #333333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  

  
  margin: 30px;


} */





.popupInput:focus{
  background-color: #fff;
  border-color: #3b49df;
  box-shadow: 1px 1px 0 #3b49df;
}











.popupButton{
  width: 104px;
height: 50px;

background: #FF0000;
border: 3px solid #FF0000;
border-radius: 85px;

font-weight: 700;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;




color: #000000;


}
.popup-Cancel-Button{
  width: 104px;
height: 50px;
background: #020202;
border: 3px solid #FF0000;
border-radius: 85px;
font-weight: 700;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color:red;
margin-left:15px;







}

.popupField{

  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
 
  

 
  flex-direction:column;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.subheaders{
  font-size: 30px;
 color:red;
  font-weight: 700;
  margin-top: 10px;
  
 
}
.Back-icon{
color: red;
background-color:black;
border: 2px solid red;
  align-items: flex-start;
  width:35px;
  height:35px;
  border-radius:50%;
}
.del-icon{
  color: red ;

  border: 2px solid red;
    align-items: flex-start;
    width:25px;
    height:25px;
    padding: 5px;
    border-radius:50%;
margin: 10px;
  }
  .edit-icon{
    color: red ;
    border: 2px solid red;
    margin: 10px;
    
      align-items: flex-start;
      width:25px;
      height:25px;
      border-radius:50%;
      border-radius:50%;
      padding: 5px;
    }
.header-head{
 
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-transform: capitalize;

/* Red */

color: #FF0000;

}
.header-head.fixed {
  position: fixed;



}
.subheader-field{
 
display: flex;
justify-content: space-around;
}

.Header-container{
  width: 100%;
  height: auto;
  color: white;
 

}
.card-container{
  width: 100%;
 
}





    .Signup-MainContainer{
      width: 100%;
     
      display: flex;
      justify-content: center;
  margin-top: 100px;
  
  
    }
    .signup-field{
      width: 25%;
      height:100%;
      background-color: #000000;
      border-radius: 10px;
    box-shadow: 0 2px 2px 2px red;

    }
    .signup-input{
      width: 300px;
      height: 40px;
      background-color: #fff;
     
      border-radius: 10px;
     border-color: #FF0000;
    
    }
    .signup-button{
      width:300px;
      height:40px;
      background-color: #fff;
    
      margin-bottom: 40px;
      border-radius: 10px;
      border-color: #FF0000;
    }
    .signup-label{
      font-size: 20px;
      color: #FF0000;
      font-weight: 600;

    }
    .setlogo{
      width: 40%;
      height: 200px;

    }
    .settingText{
      background-color: #A3A4A5;
       width: 200px;
       border-radius: 10px;
    }
    /* .settingText::placeholder{

    } */
    
    .Reactive-setting-Text{
      background-color: #A3A4A5;
    
       width: 120px;
       border-radius: 10px;
       
     
    }
   
    
   
    @media screen and (max-width: 360px) {
      .settingText{
       
       width: 200px;
       border-radius: 10px;
      }
    }
    .InaactivesettingText{
      background-color: #A3A4A5;
       width: 200px;
       border-radius: 10px;
      
    }
   
    
    .DelayTextField{
      background-color: #A3A4A5;
       width: 100px;
       border-radius: 10px;
     
    }
    /* ------------------------------------------------------------------------- */
    .SettingHead{
      display: flex;
      justify-content: center;
  
    }

    .emailIcon{
      width: 80px;
      height:30px;

    }
    .emailField{
      display: flex;



    }
    .popup-box {
      position: fixed;
      background: #00000050;

      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
    }
     
    .box {
     
      width: 13%;
      position: relative;
      margin: 0 auto;
      height: 200px;
      max-height: 70vh;
      margin-top: calc(100vh - 85vh - 20px);
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid #999;
      overflow: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow: auto;}
     
    .close-icon {
 
      cursor: pointer;
    font-size: 40px;
    
    }


    .popup-contant{
     
     /* margin-top: 20px; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
       flex-direction: column;
      margin-top: 10px;;
    }

.popup-edit-field{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
     
 margin: 10px;


}
.popup-del-field{

  display: flex;
  justify-content: center;
margin: 5px;}
  
 
    .logout-icon{
      width: 80px;
      height: 50px;
      color:red
      
    }
 
  .wrong-img{
      width: 60px;
      height: 60px;
      background-color: #fff; }
    .wrong-img-setting{
      width: 60px;
      height: 60px;
      background-color: #fff;

    }
    .wrong-img{
      width: 30px;
      height: 300px;
      background-color: #fff;

    }
.button-submit{
  background-color:red;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
 
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;



}
.edit-button{
  height: auto;
  background-color:red;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
 
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;


}
.cancil-button{

  height: auto;
  background-color:red;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
 
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.Reply-button{
  width: auto;
  height: 60px; 
   margin: 20px;
  background: #020202;
  border: 3px solid #FF0000;
  border-radius: 85px;
color:red;
padding: 15px;
padding-left:20px ;
padding-right: 20px;

  box-shadow: 0px 2px 2px rgba(251, 132, 16, 0.2);
  font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 22px;
 

}

.button-cancil{
  background-color:red;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
 
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;



}













/* CSS */
.button-31 {
  background-color:red;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:40%;

}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 20px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:40%;
}
.BotSubmitbutton{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-left: 25px;
  max-width: none;
 height: 44px;
width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width:30%;
}
.setting-Popup-field{
  width: 40px;
  height: 65px;
  
}
.setting-popup-Img{
  width: 70px;
  height: 60px;
}
.menu-icon{
  width: 40px;
  height: 40px;
  color: 
red;

 margin-top: 5px;

 
}
.arrow-setting{
  width: 80px;;
  height: 60px;
}
.delet{
border:none;
background-color: #282c34;
}



.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(231, 86, 86) 0%,
    rgb(243, 73, 73) 8%,
    rgb(142, 17, 17) 92%,
    rgb(244, 10, 10) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: rgb(240, 0, 0);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}












